---
eleventyImport:
    collections: ["recettes"]
permalink: "recettes/{% if pagination.pageNumber > 0 %}page-{{ (pagination.pageNumber + 1) }}/{% endif %}index.html"
title: "Anne et ses recettes"
layout: generic.liquid
pagination:
    data: collections.recettes
    size: 4
    reverse: true
tags: 
  - menu
---

<ul style="font-size:larger">
  {% for item in pagination.items reversed %}
    <li>
      <a href="{{item.page.url }}">{{ item.data.recette.title }}</a>
    </li>
  {% endfor %}
</ul>
{% if pagination.pages.length > 1 %}
  <nav aria-labelledby="my-pagination">
    <ol>
      {%- for pageEntry in pagination.pages %}
        <li>
          <a href="{{ pagination.hrefs[ forloop.index0 ] }}"{% if page.url == pagination.hrefs[forloop.index0] %}aria-current="page"{% endif %}>Page {{ forloop.index }}</a>
        </li>
      {%- endfor %}
    </ol>
  </nav>
{% endif %}