---
layout: index.liquid
pagination:
    data: allrecettes
    size: 1
    alias: recette
    addAllPagesToCollections: true
permalink: "recettes/{{ recette.title | slugify }}/"
eleventyComputed:
    title: "{{recette.title}} - Anne et ses delices"
tags:
    - recettes
---
    <div class="info panel">
        <div>
            <span class="count fal fa-utensils"></i>{{recette.for}}</span>
            <span class="preptime fal fa-hat-chef">{{recette.preptime}}</span>
            <span class="resttime fal fa-snooze">{{recette.resttime}}</span>
            <span class="cooktime fal fa-oven">{{recette.cooktime}}</span>
        </div>
        <div class="mold">
            <a href="{{recette.mold.url || '#'}}">
                <img src="{{recette.mold.picture}}" />
            </a>
            <span class="name">{{recette.mold.name}}</span>
        </div>
    </div>
    {% if recette.accessories.length %}
    <div class="accessories panel">
        <h2>Accessoires</h2>
        <ul>
            {%- for accessory in recette.accessories %}
                <li class="mold">
                    <a href="{{accessory.url}}">
                        <img src="{{accessory.picture}}" />
                    </a>
                    <span class="name">{{accessory.name}}</span>
                </li>
            {% endfor -%}    
        </ul>
    </div>
        {% endif %}
    <header>
        <h1>{{recette.title}}</h1>
    </header>
    <div class="topings panel">
        <h2>Ingrédients</h2>
        <ul>
        {%- for toping in recette.topings %}
            <li>{{ toping.quantity }} {{ toping.unit }} {{ toping.name }}</li>
        {% endfor -%}
        </ul>
    </div>
    <div class="steps panel">
        <h2>Préparation</h2>
        <ol>            
        {%- for step in recette.steps %}
            <li style="white-space:pre-line">{{ step }}</li>
        {% endfor -%}
        </ol>
        <p style="padding-left:24px"><a
                href="https://www.guydemarle.com/profil/annep_a143-44563">Anne Penin</a>, votre conseillère Guy Demarle</p>
    </div>
    <div class="logo">
        <img class="qr" src="{{relativePath}}/assets/qr_code.svg" style="height:100%" />
        <span class="ad">Retrouvez-moi sur facebook </span>
        <a href="https://www.facebook.com/profile.php?id=100090744024852">
            <img src="{{relativePath}}/assets/logo.svg" style="height:100%" />
        </a>
    </div>
