---
meta:
    og:type: website
---
<!DOCTYPE HTML>
<html lang="fr-fr">

  <head>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css" />
    <link href="/assets/fa/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/style.css">
    <title>{{ title }}</title>
    <meta name="generator" content="{{ eleventy.generator }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta property="og:title" content="{{title}}" />
    <meta property="og:url" content="{{permalink}}" />

    {%- for item in meta %}
      <meta property="{{foorloop.index}}" content="{{item}}" />
    {% endfor -%}
  </head>

  <body>
    <div class="backdrop"></div>
    {{ content }}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-V1F7QH5JBN"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-V1F7QH5JBN');
    </script>
  </body>

</html>